{% extends 'base.html.twig' %}

{% block title %}Edit Payment{% endblock %}

{% block body %}

                           <div class="card checkout-shipping-form shadow-none h-800vh">
                              <div class="card-header border-bottom-100 align-content-start pb-sm-10 pb-1 px-10">
                                 <h4 class="fw-500">Ajouter Depense</h4>
                              </div>
                              <div class="card-body p-100">
                                 <div class="edit-profile__body">
                                   {{ include('depense/_form.html.twig') }} 
                                 </div>
                              </div>
                           </div><!-- ends: card -->
                     


{% endblock %}